.container {
  display: flex;
  flex-direction: column;
  min-width: 540px;
  max-height: 900px;
}

.container > * {
  width: 100%;
}

.form {
  display: flex;
  padding-top: 6px;
}

.mat-form-field {
  font-size: 16px;
  flex-grow: 1;
}

mat-grid-list {
  padding-bottom: calc(((1 * ((16.6667% - 0.5px) * 1)) + 0px) + 0px);
}