<button [matMenuTriggerFor]="profile" mat-icon-button class="m-r-5"> <img src="assets/images/users/user1.png" alt="user" class="profile-pic"> </button>
<mat-menu #profile="matMenu" class="mymegamenu">
    <button mat-menu-item>
        <mat-icon>settings</mat-icon> Configuracion</button>
    <button mat-menu-item>
        <mat-icon>account_box</mat-icon> Perfil </button>
    <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon> Deshabilitar notificaciones </button>
    <button mat-menu-item (click)="logoff()">
        <mat-icon>exit_to_app</mat-icon> Salir </button>
</mat-menu>

