<mat-toolbar color="primary">
    <span>Gestion de Exhibidores</span>
    <span class="spacer"></span>
    <button mat-icon-button (click)="refresh()">
        <mat-icon>refresh</mat-icon>
    </button>
</mat-toolbar>

<div class="container mat-elevation-z8">

    <div class="form" style="padding: 20px">
        <mat-form-field floatPlaceholder="never" color="accent">
            <input matInput #filter placeholder="Filtrar Exhibidores">
        </mat-form-field>
    </div>

    <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">

        <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

        <ng-container matColumnDef="nombre">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.name}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="categoria">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Categoria</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.category.name}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="marcas">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Marcas</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.gondolaBrand | arrayjoin: 'brand':'name'}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="tipo">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Tipo</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.gondolaType.name}}</mat-cell>
        </ng-container>

        <!-- actions -->
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef>
                <button mat-icon-button color="primary" (click)="addNew({})">
                    <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
                </button>
            </mat-header-cell>

            <mat-cell *matCellDef="let row; let i=index;">
                <button mat-icon-button color="accent" (click)="startEdit(row)">
                    <mat-icon aria-label="Edit">edit</mat-icon>
                </button>

                <button mat-icon-button color="accent" (click)="deleteItem(row)">
                    <mat-icon aria-label="Delete">delete</mat-icon>
                </button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>


    <div class="no-results" [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'" style="padding: 10px">
        No hay resultados
    </div>

    <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0"
        [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
</div>
